<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  

  <log4net debug="true">
    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logs/App.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>
  <appSettings>
    <add key="ffmpegPath" value="C:\Craft\VideoLab\ffmpeg-3.4.1-win64-static\ffmpeg-3.4.1-win64-static\bin\ffmpeg.exe"/>
    <add key="videoOutputPath" value="C:\Craft\VideoLab\ffmpeg-3.4.1-win64-static\ffmpeg-3.4.1-win64-static\bin\"/>
    <add key="videoTimeInSecond" value="7"/>
    <add key="NoOfFiles" value="50"/>
    <add key="rtsp" value="rtsp://the/RTSP/string"/>
    
    <add key="snapshotPath" value="C:\Craft\VideoLab\ffmpeg-3.4.1-win64-static\ffmpeg-3.4.1-win64-static\bin\"/>
  </appSettings>
</configuration>